* {
    margin: 0px;
    padding: 0px;
}



@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
    font-family: ;
    src: url()
}

table {
	border-collapse: collapse;
}

table, th, td, tr {
    border-width: 3px;
    border-color: white;
	background-color: #0b6d8d;
}

.menu{
    text-align: center;
    background-image: linear-gradient( #0e92be,#0c80a6,#0b6d8d);
}

.hover {
    display: inline-block;
    list-style: none;
    border: 2px;
    border-color: #0b6d8d;
    background-image: linear-gradient( #0e92be,#0c80a6,#0b6d8d);
    font-family: Arial;
    padding: 14px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
	text-shadow: 1px 1px #000000;
	border-left: 1px #10a4d5;
	border-right: 1px #10a4d5;
}

.hover:hover {
    background-image: linear-gradient(#07495f,#07495f,#07495f);
    cursor: pointer;
}

 a {
     text-decoration: none;
     color: whitesmoke;
 }

 .logo_etecia {
     margin-top: 30px;
     margin-bottom: 25px;
 }

 .principal {
     width: 68%;
     margin: auto;
 }
 
th {
	border: 0px #0b6d8d;
	background-color: #0b6d8d;
	padding: 20px;
	font: 24px;
	font-family: Roboto;
	color: #fff;


